Django==4.2.5
gunicorn
whitenoise==6.6.0
djangorestframework==3.14.0
drf-yasg==1.21.7
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
django-filter==23.5
Pillow==10.1.0
PyJWT==2.8.0
setuptools
wheel

# Si usas Redis/Celery, agrega solo si los necesitas:
# celery==5.3.4
# redis==5.0.0
